# PlatformIO 编译产物
.pio/
.pio/**

# IDE 配置
.vscode/
*.code-workspace

# 秘钥文件
mimi_secrets.h
*.env
.env*
user_config.ini
.flash_cache.json
.deepseek/

# Python 缓存
__pycache__/
*.pyc

# 运行时数据目录（从 example 复制）
data/

# 编译产物
build/
dist/
*.bin
*.elf
*.map
*.hex
firmware.bin
spiffs.bin
!example/cert/x509_crt_bundle.bin

# 操作系统文件
.DS_Store
Thumbs.db
desktop.

# 临时文件
*.tmp
*.bak
*.swp
*~
